html {
    scroll-behavior: smooth;
}
h1 {
    color: #1e67a0;
    /*text-decoration: underline;
    text-decoration-color: darkblue;*/
}
body { 
    padding-top: 50px; 
    font-size: 18px;
}
.twologo{
    max-width: 30vw;
    padding-left: 10vw;
    /*position: absolute;*/
}

/* Header */

.flag-button{
    width: 50px;
    height: 50px;
}


/* Tooltips */
.tooltip-container{
    position:relative;
}
.tooltiptext{
    display:none;
    position:absolute; 
    z-index:1;
    border:1px;
    background-color:white;
    border-style:solid;
    border-width:1px;
    border-color:dodgerblue;
    border-radius: 6px;
    text-align: center;
    font-size: 15px;
    padding:8px;
    color:black;
    top:30px; 
    left:0px;
    width: 100px;
}
.tooltiptext::after { /* Tooltip arrow */
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 25%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent dodgerblue transparent;
}
.tooltip-container:hover span.tooltiptext{
    display:block;
}
/* End Tooltips */
/* End Header */


.section{
    /* border: solid black 1px; */
    margin: 10px 0px;
    padding: 50px 20px;
}



/* section 2 */
/* end section 2 */

/* section 3 */
.feature_content{
    margin: 10px;
    width: 22%;
    height: 450px;
    font-size: 14px;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    border: solid black 1px;
}
.steps-img3{
    height: 80px;
    width: 80px;
}

/* Style the tab */
.tab-container {
    display: flex;
}
.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: white;
    width: 25%;
  }
  
  /* Style the buttons that are used to open the tab content */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 10px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 22px 12px 0px 25px;
    border: 1px solid #ccc;
    background-color: white;
    width: 70%;
    border-left: none;
}
.tab-fade-in {
    animation: fadeEffect 1s;
}
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
.tabtext {
    margin-top: 10px;
}


/* end section 3 */

/* section 4 */
.s4-container {
    margin: 5px;
    padding: 10px;
    background-color:#1e67a0;
    border-radius: 10px;
    color: white;
}
.steps-img4{
    height: 100px;
    width: 100px;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:1;
    color: red;
    font-size: 50px;
    padding: 20px;
    text-align: center;
    top: 45%;
}
/* end section 4 */

/* section 5 */

/* end section 5 */

/* section 6 */
.s6-container{
    background-color: #f1f1f1;
    margin: 20px;
    margin-left: 10%;
    margin-right: 10%;

    border-radius: 20px;
}
.s6-image-container {
    text-align: center;
}
.s6-text {
    padding-top: 30px;
}
.steps-img{
    height: 80%;
    width: 80%;
    max-height: 180px;
    max-width: 180px;
}
/* end section 6 */

/* section 7 */
.s7-container{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}
/* end section 7 */

/* section 8 */
.s8-img-cont{
    width: 100%;
}
.side-img{
    max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */
}
/* end section 8 */


footer {
    color: white;
    /* background-color: rgb(57, 136, 255) */
    background-color: #1e67a0;
}
