html {
    scroll-behavior: smooth;
}
h1 {
    color: rgb(0, 81, 255);
}
body { 
    padding-top: 50px; 
    font-size: 18px;
}

/* Tooltips */
.tooltip-container{
    position:relative;
}
.tooltiptext{
    display:none;
    position:absolute; 
    z-index:1;
    border:1px;
    background-color:white;
    border-style:solid;
    border-width:1px;
    border-color:dodgerblue;
    border-radius: 6px;
    text-align: center;
    font-size: 12px;
    padding:8px;
    color:black;
    top:30px; 
    left:0px;
    width: 100px;
}
.tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 25%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent dodgerblue transparent;
}

.tooltip-container:hover span.tooltiptext{
    display:block;
}
/* End Tooltips */


.twologo{
    max-width: 30vw;
    padding-left: 10vw;
    /*position: absolute;*/
}
.section{
    border: solid black 1px;
    margin: 10px;
    padding-top: 50px;
}
.flag-button{
    width: 50px;
    height: 50px;
}

/* section 2 */
/* end section 2 */

/* section 3 */
.feature_content{
    margin: 10px;
    width: 22%;
    height: 450px;
    font-size: 14px;
}
.steps-img3{
    height: 80px;
    width: 80px;
}
/* end section 3 */

/* section 4 */
.s4-container {
    margin: 5px;
    padding: 10px;
    background-color: rgb(57, 136, 255);
    color: white;
}
.steps-img4{
    height: 100px;
    width: 100px;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:1;
    color: red;
    font-size: 50px;
    padding: 20px;
    text-align: center;
    top: 45%;
}
/* end section 4 */

/* section 5 */
.steps-img{
    height: 100%;
    width: 100%;
}
/* end section 5 */

/* section 6 */
/* end section 6 */

/* section 7 */
/* end section 7 */

/* section 8 */
/* end section 8 */


footer {
    color: white;
}